body {
  font-family: "Audiowide";
  background-color: grey;
  color: white;

}
img{
  max-width:100%;
  max-height:100%;
  display:block;
}
.topbar{
  background-color: white;
  color:black;
  height: 104px;
  font-size:40px;
  margin-top: -8px;
  margin-left: -8px;
  padding: 80 0 -80 0;
}
.titlebar{
  height: 40px;
  width:100%;
  margin-left: 40px;
  /*display:inline-block;*/
}
.socialbuttons{
  height:25px;
  font-size:25px;
  /*display:inline-block;*/
  float: right;
}
.mainmenu{
  
  margin-right:30px;
  margin-top:15px;
  font-size: 30px;
  font-weight:bold;
  float:right;
}
.pageheader{
  background-image:url("../img/siteheader.jpg");
  background-position: center;
  height:250px;
  width:100%;
  border:4px;
  border-style:solid;
  border-color:red;
  background-size:cover;
  background-repeat:no-repeat;
  margin:
}
